// offcanvas display fix
.offcanvas
  display: none

.in
  display: block

// Other
#content-wrapper
  margin-top: 51px

.navbar
  button.navbar-toggle
    border: none
    border-radius: 0

.navbar-toggle
  margin-left: 15px
  z-index: 3

.navbar-header
  position: relative
  .navbar-brand
    position: absolute
    width: 100%
    left: 0
    top: 0
    text-align: center
    margin: auto
    img
      margin: -3px auto

.navmenu-fixed-left
  background: url('../assets/circ_btm.png') left bottom no-repeat
