// general
section
  padding-bottom: $padding-large-vertical * 2

@media screen and (min-width: $container-sm)
  section
    padding-bottom: $padding-large-vertical * 4
  section.users>p, section.projects>p
    columns: 2

@media screen and (min-width: $container-md)
  section:not(.video)
    padding-top: $padding-large-vertical

.container.singular
  padding-bottom: $padding-large-vertical * 2

.circ-item-wrapper
  margin: $padding-large-vertical*2 0

// clearfix for tablet size
@media screen and (min-width: $container-sm) and (max-width: $container-md)
  .circ-item-wrapper:nth-child(odd)
    clear: both
    display: table

// clearfix for desktop size
@media screen and (min-width: $container-md)
  .circ-item-wrapper:nth-child(3n+1)
    clear: both
    display: table

// offcanvas display fix
#offcanvasNavmenu
  width: 220px

.offcanvas
  display: none

.in
  display: block

// Navbar styling
#content-wrapper
  margin-top: $navbar-height

.navbar-header
  position: relative
  .navbar-brand
    position: absolute
    width: 50%
    left: calc(25% - #{$navbar-padding-horizontal})
    top: 0
    text-align: center
    margin: auto
    img
      margin: -3px auto
      height: 25px

.navmenu-fixed-left
  background: url('../assets/probus-circ.svg') left bottom no-repeat
  background-size: 50%

.navbar
  button.navbar-toggle
    border: none
    border-radius: 0

.navbar-toggle
  margin-left: 15px
  z-index: 3

//menu button anmation
header.navbar
  margin-bottom: 0

.navbar
  button
    span.icon-bar
      transform-origin: left center
      transition: .3s ease-in-out

.navbar.canvas-slid button
  span.icon-bar:nth-child(1)
    transform: rotate(45deg)
    width: 19px
    margin-left: 4px
    margin-right: -1px
  span.icon-bar:nth-child(2)
    width: 0%
    height: 3px
    opacity: 0
  span.icon-bar:nth-child(3)
    transform: rotate(-45deg)
    width: 19px
    margin-left: 4px
    margin-right: -1px

//avatars and project images
.img-circle
  border: 5px solid #ccc

article.project
  time
    position: absolute
    top: 70%
    left: 70%
    background-color: $gray-dark
    color: $body-bg
    font-size: 2em
    border-radius: 100%
    display: inline-block
    height: 10vh
    width: 10vh
    min-width: 70px
    min-height: 70px
    padding: 2vh 1vh

@media screen and (max-width: $container-sm)
  article.project
    time
      padding: 3vh 1.5vh

@media screen and (max-width: $container-md)
  article.project
    time
      max-width: 75px
      max-height: 75px

@media screen and (min-width: $container-md)
  article.project
    time
      padding: 3vh 2vh

@media screen and (min-width: $container-lg)
  article.project
    time
      padding: 2.5vh 1.8vh
      width: 8vh
      height: 8vh
      min-height: 80px
      min-width: 80px

@media screen and (min-width: 2560px)
  article.project
    time
      top: 66%
      left: 66%
      padding: 2vh 1.4vh
      width: 6vh
      height: 6vh

// inverse layout container
.container-inverse
  background-color: $gray-dark
  color: $body-bg

// linkedIn feed
.linkedinFeed
  padding-bottom: $padding-large-vertical*2
  #linkedinFeedContent
    >div
      margin-top: $padding-large-vertical*2

//Jumbotron
div.jumbotron
  background-size: 100% auto !important
  background-position: 50% 0
  min-height: 70vh
  padding-bottom: 0
  display: flex
  align-items: flex-end
  margin-bottom: 0
  div.gradient
    width: 100%
    background: linear-gradient(rgba(0,0,0,0), rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.5))
    div.container
      padding-bottom: $jumbotron-padding
      color: $body-bg
      h1
        font-size: 48px
        font-weight: 700

@media screen and (max-width: $container-sm)
  div.jumbotron
    background-size: auto 100% !important
    div.gradient div.container h1
      font-size: 20px

.container.singular .container-inverse
  padding-bottom: $padding-large-vertical
  line-height: $line-height-base * 1.5
  min-height: 150px

@media screen and (min-width: $container-sm)
  .container.singular .container-inverse


// Cite
section.cite
  display: flex
  flex-direction: row
  div.curlyBracket
    content: url('../assets/probus-cite.svg')
    // background-size: 28px 28px
    display: block
    // height: 150px
    &:last-child
      transform: scale(-1,1)

section.cite
  .citeInner
    padding: $padding-large-vertical*2 $padding-base-horizontal*0.5 0 $padding-base-horizontal*0.5
  div.curlyBracket
    width: 95px

@media screen and (max-width: 344px)
  section.cite
    .citeInner
      padding-top: $padding-large-vertical*1.2
      font-size: $font-size-small
    div.curlyBracket
      height: 150px

@media screen and (max-width: $container-md)
  section.cite
    div.curlyBracket
      height: 160px

@media screen and (min-width: $container-sm)
  section.cite
    .citeInner
      font-size: $font-size-large

@media screen and (min-width: $container-md)
  section.cite
    div.curlyBracket
      height: 125px

//featured person
section.featuredPerson
  margin-top: $padding-large-vertical*3

//footer
footer
  margin-top: $padding-large-vertical * 2
  margin-bottom: $padding-large-vertical * 2
  a img
    width: 100%

@media screen and (max-width: $container-sm)
  footer
    a img
      width: 66%

// Responsive WP-video fix
.wp-video, video.wp-video-shortcode, .mejs-container, .mejs-overlay.load
	width: 100% !important
	height: 100% !important

.mejs-container
	padding-top: 56.25%

.wp-video, video.wp-video-shortcode
	max-width: 100% !important

video.wp-video-shortcode
	position: relative

.mejs-mediaelement
	position: absolute
	top: 0
	right: 0
	bottom: 0
	left: 0

.mejs-overlay-loading,
.mejs-controls
	display: none !important

.mejs-overlay-play
	top: 0
	right: 0
	bottom: 0
	left: 0
	width: auto !important
	height: auto !important

.mejs-overlay-play:focus
    outline: none

.container-fluid.video
  padding: 0
// END Responsive WP-video fix
